/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/*=============== VARIABLES CSS ===============*/
/*Root elements*/

:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: rgb(7, 57, 60);
  --first-color-alt: rgb(44, 102, 110);
  --text-color: rgb(29, 28, 31);
  --white-color: #f0edee;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Plus Jakarta Sans", serif;
  --biggest-font-size: 5rem; /*80px*/
  --section-font-size: 2.5rem; /*40px*/
  --h1-font-size: 1.5rem; /*24px*/
  --h2-font-size: 1.25rem; /*20px*/
  --normal-font-size: 1rem; /*16px*/
  --small-font-size: 0.813rem; /*13px*/
  --smaller-font-size: 0.75rem; /*12px*/

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 700;
  --font-bold: 800;

  /*========== z index ==========*/
  /* this is for the layers.  */
  /* the lesser, the more they are at the top of the elements */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== BASE ===============*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font) !important;
  font-size: var(--normal-font-size) !important;
  background-color: var(--white-color) !important;
  color: var(--text-color) !important;
}

h1,
h2,
h3 {
  color: var(--first-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  text-align: center;
  margin-bottom: 1.5rem;
}

/*=============== SCROLLBAR ===============*/

::-webkit-scrollbar {
  width: 10px;
}

/* Background of the track */
::-webkit-scrollbar-track {
  background: var(--white-color);
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: var(--first-color-alt);
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

/* Scrollbar Hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--first-color);
}

/*=============== FORM FORMAT ===============*/

form {
  width: 400px;
  flex-direction: column;
  gap: 1px;
  padding: 5px;
  margin: 0;
}

/*=============== SELECT FORMAT ===============*/

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  box-sizing: border-box;
  font-family: var(--body-font);
  margin-bottom: 50px;
}

/*=============== INPUT FORMAT ===============*/

input {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 200px;
}

input:focus {
  border-color: var(--first-color-alt);
  box-shadow: 0 0 5px rgba(0, 128, 128, 0.4); /* soft glow matching your theme */
}

/*=============== TABLE DESIGN FORMAT ===============*/

.__table__ {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: auto;
  font-family: var(--body-font);
  border-radius: 10px;
  overflow: hidden;
}

.__table__ th,
.__table__ td {
  white-space: nowrap;
  padding: 8px 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.__table__ th {
  background-color: #dfdfdf;
  color: rgb(26, 26, 26);
  font-weight: bold;
  font-family: var(--body-font);
  background-color: #f5f5f5;
  font-size: var(--normal-font-size);
}

.__table__ tr:nth-child(even) {
  background-color: #f2f2f2;
}

.__table__ td {
  font-size: var(--small-font-size);
}

.__table__ td,
.__table__ th {
  text-align: center;
}

.__table__ td {
  color: #555;
}
